<!doctype html>
<html class="no-js" lang="fr">

  <head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ get_static_url('css/knacss-min.css') }}" media="all">
    <link rel="stylesheet" href="{{ get_static_url('css/styles.css') }}" media="all">
    <title>{{ config.APP.NAME }}</title>
  </head>

  <body>

    <header id="header" class="ma0 txtcenter">
        <h1 class="title center">
            <a href="{% block stage_url %}{% endblock stage_url %}" title="Back to index">{{ config.APP.NAME }} !</a>
        </h1>
        <p class="pre-title">
            {{ config.APP.BASELINE }}
        </p>
    </header>

    <div class="main">
    {% block stage %}
    {% endblock stage %}
    </div>

    <footer id="footer" class="ma0 pas txtcenter">
        <p>
            {% for num, stage in config.STAGE.items() %}
            <a href="{{ stage['URL'] }}" title="Link to {{ stage['LABEL'] }}">{{ stage.LABEL }}</a>
            {% endfor %}
        </p>
        <p>
            Built with
            <a href="http://flask.pocoo.org" title="Flask : web developpement one drop at a time">Flask</a>
            & deployed on
            <a href="https://console.aws.amazon.com/lambda/" title="AWS Lambda lets you run code without provisioning or managing servers">AWS Lambda</a>
            with
            <a href="https://github.com/Miserlou/Zappa/#zappa---serverless-python" title="Build and deploy server-less, event-driven Python applications">Zappa</a>.
            <br />
            <a href="{{ config.APP.SRC }}">Fork me on Gitlab</a>
            |
            <a href="{{ config.GPL_URL }}" title="Details on GPL licence">Copyleft</a>
            2019 -
            <a href="{{ config.AUTHOR_URL }}" title="More stuff from {{ config.AUTHOR_NAME }}">{{ config.AUTHOR_NAME }}</a>
            |
            Style based on <a href="http://schnaps.it/" title="Schnaps.it s'lauft!">schnaps.it</a>
        </p>
    </footer>

  </body>

</html>
