{% extends 'index.html' %}
    {% block stage_url %}{{ config.STAGE.4.URL }}{% endblock stage_url %}
    {% block stage %}
        <h2>{{ config.STAGE.4.LABEL }} :</h2>
    </div>

    <div class="main">
        <code>gcd({{ int_a }}, {{ int_b }}) = {{ result }}</a></code>
    </div>

    <div class="main">
        [ <a href="{{ config.STAGE.4.URL }}">go back</a> ]
    {% endblock stage %}
