{% extends 'index.html' %}
    {% block response %}
        <h2>{{ config.STAGE.3.LABEL }}</h2>
    </div>

    <div class="main">
        <h4>Hello <strong>{{ r_upper }}</strong> !</h4>
    </div>

    <div class="main">
        <p>( Original string : {{ r_origin }} )</p>
    </div>

    <div class="main">
        <p>
            ( Type a
            <code><a href="{{ config.STAGE.3.URL }}/FooBar">/string</a></code>
            at the end of URL (-; )
        </p>
    {% endblock %}
