{% extends 'index.html' %}
    {% block stage_url %}{{ config.STAGE.4.URL }}{% endblock stage_url %}
    {% block stage %}
        <h2>{{ config.STAGE.4.LABEL }} :</h2>
    </div>

    <div class="main">
        <p>
            Type two integer in URL like this :
            <code><a href="{{ config.STAGE.4.URL }}/{{ int_a }}/{{ int_b }}">{{ config.STAGE_URL }}/{{ int_a }}/{{ int_b }}</a></code>
            to get the greatest common divisor of these integers.
        </p>
    {% endblock stage %}
